
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed; 
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #98E2C6;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #98E2C6;
    color: black;
  }

  body {
    background-image: url(Media/Mapbackground.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }


  .centerbox {
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
    border: 1px solid  #b6aabd;
    border-radius: 3px;
  }

  .coloredbox {
    display: block;
    position: fixed;
    margin: 20px;
    background-color: #C4B7CB;
    border: 1px solid #C4B7CB;
    opacity: 1;
    border-radius: 5px;
    width: 300px;
    height: 75px;
  }
  .coloredbutton{
      display: block;
      position: fixed; 
      margin-right: auto;
      margin-left: auto;
      background-color: #C4B7CB;
      border: 1px solid  #b6aabd;
      border-radius: 3px;
      width: 300px;
      height: 75px;
      box-shadow: inset 0px 0px 0px #2F3B47;
      transition: all 0.5s !important;
      justify-content: center;
  }
  .coloredbutton:hover {
    box-shadow: inset 300px 0px 0px #2F3B47;
    }
  
  /*align content in box*/
  .coloredbox p {
    text-align: center;
    display: block;
    margin: auto;
    font-weight: bold;
    color: #000000;
  }

  /* Position Media Player*/
  .mediawrapper { 
    float: none;
    clear: both;
    width: 70px;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    margin: 0 auto;
    max-width: 100%;
}
