body {
    font-family: "Palatino Linotype";
    background-color: #c2d8d8d8;
    color: #343838;
}
nav a {color: #ffffff;
    background-color:#343838;
    padding: 10px; 
    margin-bottom: 30px; }
nav a:hover {background-color: #005F6B;}

.img1 {float:left; margin-right: 10px;}
.clear {clear: both;}
h1,h2 {color: #008C9E} 

.evenrow {background-color: rgba(113, 132, 173, 0.664);}

h1 {font-size: 2em;}

h2 {font-size: 1.5em;}